@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');/*importa a fonte "Inter" do Google Fonts*/
*{
    margin: 0; /*margem externa de um elemento*/
    padding: 0; /*espaço entre o conteúdo de um elemento e sua borda*/
    box-sizing: border-box; /*define como o tamanho total de um elemento*/
    text-decoration: none; /*remove todas as decorações de texto.*/
    outline: none; /*remove o contorno em torno do elemento*/
    font-family: 'Inter',sans-serif; /*font utilizada para exibir o texto, importada da biblioteca*/
}
body{ /*fundo da pagina após o banner*/
    background-color: #2a5c0b; /*define a cor de fundo do corpo do documento*/
}
section,
footer{ /*os elementos <section> e <footer> */
    padding: 54px 0; /*espaço entre o conteúdo de um elemento e sua borda*/
}
h3{ /*fontes de nivel 3*/
    font-size: 50px; /*tamanho da fonte*/
}
p, ul{/*paragrafos e listas não ordenadas*/
    color: #000000; /*cor do texto*/
} 
.container{/**/
    max-width: 1400px; /*máxima que um elemento pode ter*/
    margin: 0 auto;  /*margem externa de um elemento*/
    padding: 0.5%; /*espaço entre o conteúdo de um elemento e sua borda*/
    flex-wrap: wrap; /*itens devem ser dispostos quando ultrapassam a largura do container*/
}
.btn{ /*botão de contato*/
    background-color: #ea2a15;  /* definir a cor de fundo de um elemento*/
    color: #ffffff; /*cor do texto*/
    padding: 15px 20px; /*espaço entre o conteúdo de um elemento e sua borda*/
    border-radius: 10px; /* definir a curvatura das bordas*/
    cursor: pointer; /*o cursor é exibido como uma mão, indicando que o elemento é clicável*/
    display: inline-block; /* tornar o elemento um bloco com uma largura e altura definidas*/
    transition: 0.3s; /*transição animada entre os valores*/
}
.btn:hover{ /*quando o ponteiro passar mudará de cor*/
    background-color: #db3641; /* definir a cor de fundo de um elemento*/
}
header{ /*fundo do banner superior*/
    background-image: linear-gradient(
        90deg,
     hsl(127deg 81% 8%) 0%,
     hsl(111deg 66% 14%) 11%,
     hsl(99deg 76% 19%) 22%,
     hsl(83deg 78% 24%) 33%,
     hsl(72deg 78% 29%) 44%,
     hsl(64deg 40% 46%) 56%,
     hsl(54deg 39% 71%) 67%,
     hsl(24deg 96% 88%) 78%,
     hsl(14deg 97% 70%) 89%,
     hsl(6deg 84% 50%) 100% ); /*criar uma imagem de gradiente, que é uma transição suave entre duas ou mais cores.*/
}
header .banner{/*fundo do banner*/
    background-color: #042608;  /* definir a cor de fundo de um elemento*/
    background-position: center; /*a imagem é centralizada horizontalmente e verticalmente dentro do elemento pai*/
    background-size: cover; /*define o tamanho da imagem de fundo em relação à caixa de conteúdo*/
    background-attachment: fixed; /*faz com que a imagem de fundo permaneça fixa em relação à janela*/
}
nav{ /*seções de imagem*/
    display: flex; /*organizados em uma única linha ou coluna, ajustando-se ao tamanho disponível*/
    align-items: center; /*alinhamento vertical ocorrerá no centro do container pai*/
    justify-content: space-between; /*posiciona os itens flexíveis com espaços iguais entre eles*/
    padding-top: 5px; /*espaço entre o conteúdo de um elemento e sua borda*/
}
nav ul{ /*seções do menu*/
    display: flex; /*organizados em uma única linha ou coluna, ajustando-se ao tamanho disponível*/
    align-items: center; /*alinhamento vertical ocorrerá no centro do container pai*/
}
nav ul a{ /*seções de direiconamento do menu*/
    color: #000000; /*cor do texto*/
    margin: 0 25px;  /*margem externa de um elemento*/
    text-transform: uppercase; /*faz com que todo o texto dentro do elemento tenha suas letras convertidas para maiúsculas*/
    font-size: 14px; /*tamanho da fonte*/
    display: block; /*define que o elemento deve ser exibido como um bloco*/
}
nav ul a:not(.btn):after{ /*elementos do menu com excessão do contato*/
    content: "";
    background-color: #faedd9;  /* definir a cor de fundo de um elemento*/
    height: 3px; /*altura de um elemento*/
    width: 0%; /* largura de um elemento quando o cursor não tocar*/
    display: block; /*define que o elemento deve ser exibido como um bloco*/
    margin: 0 auto;  /*margem externa de um elemento*/
    transition: 0.5s; /*transição animada entre os valores*/
}
nav ul a:hover::after{ /*valor da transição quando o cursor tocar*/
    width: 100%; /* largura de um elemento*/
}
.banner{ /*elementos banner*/
    display: flex; /*organizados em uma única linha ou coluna, ajustando-se ao tamanho disponível*/
    justify-content: center; /*centralizar horizontalmente o conteúdo dentro de um contêiner*/
}
.banner .banner-text{ /*texto do banner*/
    margin: 150px;  /*margem externa de um elemento*/
    text-align: center; /* alinhamento horizontal do conteúdo dentro de um elemento.*/
    padding: 0 90px; /*espaço entre o conteúdo de um elemento e sua borda*/
}
.banner .banner-text h1{ /*titulo do banner*/
    font-size: 96px; /*tamanho da fonte*/
    color: #ffffff;  /*cor do texto*/
}
.banner .banner-text p{ /*subtitulo do banner*/
    font-size: 20px; /*tamanho da fonte*/
    color: #ffffff;  /*cor do texto*/
    font-weight: lighter; /*exibido com uma espessura de fonte mais leve*/
    margin: 18px 0;  /*margem externa de um elemento*/
}

.apresentaçao .container{ /*apresentação*/
    display: flex; /*organizados em uma única linha ou coluna, ajustando-se ao tamanho disponível*/
    align-items: center; /*alinhamento vertical ocorrerá no centro do container pai*/
}
.apresentaçao .apresentaçao-text{ /*Texto da apresentação*/
    width: 70%; /* largura de um elemento*/
    padding: 0 40px; /*espaço entre o conteúdo de um elemento e sua borda*/
    color: #ffffff;  /*cor do texto*/
}
.apresentaçao .apresentaçao-texts h3{ /*texto da apresentação topico 3*/
    width: 100%; /* largura de um elemento*/
    color: #000000;  /*cor do texto*/
}
.apresentaçao .apresentaçao-texts li{ /*itens das listas do topico 3*/
    color: #ffffff;  /*cor do texto*/
}
.apresentaçao .apresentaçao-text h3{ /*texto do nivel 3*/
    font-size: 56px; /*tamanho da fonte*/
    color: #000000;/*cor do topicos*/
}
.apresentaçao .apresentaçao-text p, ul{ /*apresentação dos paragrafos e listas*/
    color: #ffffff;  /*cor do texto*/
    margin: 2px 2px 5px 2px;  /*margem externa de um elemento*/
}
.apresentaçao .apresentaçao-text a{ /*links do material*/
    color: #042608;  /*cor do texto*/
}
.apresentaçao .apresentaçao-img{ /*imagens do apresentação*/
    width: 30%; /* largura de um elemento*/
}
.apresentaçao .apresentaçao-img img{  /*expanssão imagens do apresentação*/
    width: 100%; /* largura de um elemento*/
}
.apresentaçao .rows-cards{ /*cartões de materiais*/
    display: flex; /*organizados em uma única linha ou coluna, ajustando-se ao tamanho disponível*/
    justify-content: center; /*centralizar horizontalmente o conteúdo dentro de um contêiner*/
    margin-top: 20px;  /*margem externa de um elemento*/
    flex-wrap: wrap; /*itens devem ser dispostos quando ultrapassam a largura do container*/

}
.apresentaçao .row-card-item{ /*cartões individuais*/
    width: 350px; /* largura de um elemento*/
    padding: 20px; /*espaço entre o conteúdo de um elemento e sua borda*/
    border-radius: 14px; /* definir a curvatura das bordas*/
    margin: 40px;  /*margem externa de um elemento*/
    background: linear-gradient(#808f12, #042608); /*define a cor de fundo dos cards usando valores RGB*/
}
footer{ /*roda pé*/
    background: linear-gradient(#d6202c, #ff1900); /*gradiente de cores em um elemento*/
    display: flex; /*organizados em uma única linha ou coluna, ajustando-se ao tamanho disponível*/
    align-items: center; /*alinhamento vertical ocorrerá no centro do container pai*/
    flex-direction: column; /*definir a direção do eixo principal em um contêiner flexível (verticalmente)*/
    color: rgb(255, 255, 255); /*cor do texto*/
    padding: 30px 100px 50px; /*espaço entre o conteúdo de um elemento e sua borda*/
}
.redes-sociais{ /*elementos de redes sociais*/
    margin-bottom: 10px;  /*margem externa de um elemento*/
}
.redes-sociais i{ /*icones das redes sociais da biblioteca*/
    font-size: 28px; /*tamanho da fonte*/
    border: 2px solid rgb(255, 255, 255); /*definir a borda de um elemento com uma largura, estilo e cor específicos*/
    padding: 10px; /*espaço entre o conteúdo de um elemento e sua borda*/
    border-radius: 50%; /* definir a curvatura das bordas*/
    margin: 5px;  /*margem externa de um elemento*/
    cursor: pointer; /*o cursor é exibido como uma mão, indicando que o elemento é clicável*/
}
.links { /*palavras com link de direcionamento*/
    display: flex; /*organizados em uma única linha ou coluna, ajustando-se ao tamanho disponível*/
    flex-wrap: wrap; /*itens devem ser dispostos quando ultrapassam a largura do container*/
    list-style: none; /*remover os marcadores de lista padrão*/
}
.links a{ /*palavras com link*/
    color: rgb(0, 0, 0); /*cor do texto*/
    text-decoration: none; /*remove todas as decorações de texto.*/
    margin: 0 15px;  /*margem externa de um elemento*/
    font-size: 17px; /*tamanho da fonte*/
}
.copy{ /*creditos do rodaé*/
    font-size: 15px; /*tamanho da fonte*/
    margin-top: 25px;  /*margem externa de um elemento*/
}